<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form class="site-form" method="post" action="{% url 'login' %}">
        
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>

    <a href="#!" class="small text-muted">Terms of use.</a>
    <a href="#!" class="small text-muted">Privacy policy</a>
</div>

</body>
</html>